/* toolbar.css */

.smk-overlay .smk-toolbar  {
    background-color: transparent;
    box-shadow: none;
    height:42px;
}

.smk-tool {
    border: 1px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    background-color: white;
    height: 42px;
    width: 42px;
}

.smk-tool.smk-tool-active {
    background-color: rgba(227, 168, 43, 1) ;
}
  
/* sidepanel.css */

.smk-overlay .smk-sidepanel {
    color: #234075;
    top: 46px;
}

.smk-elastic-panel {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
}

.smk-side-panel {
    color: #234075;
}

.smk-sidepanel .smk-panel .smk-header {
    background-color: white;
    border-radius: 3px;
    z-index: 1;
    font-size: 15px;
}

.smk-sidepanel .smk-panel .smk-body {
    background-color: white;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5px;
    z-index: 2;
}

.smk-sidepanel .smk-panel .smk-body h3 {
    font-size: 13px;
}

/* menu.css */

.smk-sidepanel .smk-panel.smk-menu-panel {
    border: 0;
    background-color: transparent;   
}

.smk-elastic-panel .smk-panel > .smk-header {
    background-color: transparent;
    box-shadow: none;
    color: #234075;
    font-weight: bold;
}

.smk-sidepanel .smk-panel.smk-menu-panel > .smk-body {
    background-color: transparent;
    box-shadow: none;
    padding-top: 1px;
    padding-bottom: 2px;
}

.smk-parameter input, .smk-parameter select, .smk-parameter span {
    color: #234075;
    font-size: 13px;
}

.smk-tool .material-icons {
    color: #234075;
    font-size: 42px;
}

.smk-map-frame .smk-command.smk-icon {
    color: #234075 !important;
}